<h2>Register</h2>

<form method="post">
    <label>Email</label>
    <input type="text" name="Email"/>

    <label>Password</label>
    <input type="password" name="Password"/>

    <button type="submit">Register</button>
</form>

<p>@ViewBag.Message</p>